image: docker:latest

services:
  - docker:dind

stages:
  - "Validate"
  - "Build"
  - "Test"
  - "Analyze"
  - "Release"
  - "Deploy"

##
## Validate
##
shellcheck:
  stage: "Validate"
  image: cardboardci/shellcheck:0.6.0
  script:
    - shellcheck provision/*.sh

hadolint:
  stage: "Validate"
  image: cardboardci/hadolint:1.15.0
  script:
    - hadolint Dockerfile*

##
## Build
##
build:
  stage: "Build"
  script:
    - docker build --pull                                           \
        --build-arg build_date="$(date -u +"%Y-%m-%dT%H:%M:%SZ")"   \
        --build-arg version="${VERSION}"                            \
        --build-arg vcs_ref="${CI_COMMIT_SHORT_SHA}"                \
        -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"