image: docker:latest

services:
  - docker:dind

stages:
  - "Validate"
  - "Build"
  - "Test"
  - "Analyze"
  - "Release"
  - "Deploy"

##
## Validate
##
shellcheck:
  stage: "Validate"
  image: cardboardci/shellcheck
  script:
    - shellcheck provision/*.sh

hadolint:
  stage: "Validate"
  image: cardboardci/hadolint
  script:
    - hadolint Dockerfile*

##
## Build
##
build:
  stage: "Build"
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
    - docker push "$CI_REGISTRY_IMAGE"

##
## Test
##
# bats:
#   stage: "Test"
#   script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#     - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"

##
## Analyze
##
# audit:
#   stage: "Analyze"
#   script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#     - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"

##
## Release
##
# tag:
#   stage: "Release"
#   script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#     - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"

##
## Deploy
##
docker.hub:
  stage: "Deploy"
  script:
    - source deploy/hub.docker.config
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" "docker.io/${HUB_NAMESPACE}/${HUB_PROJECT}:edge"
    - docker login -u "$HUB_REGISTRY_USER" -p "$HUB_REGISTRY_PASSWORD"
    - docker push "docker.io/${HUB_NAMESPACE}/${HUB_PROJECT}:edge"
  only:
    - master
    
# quay.io:
#   stage: "Deploy"
#   script:
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#     - docker pull "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
#     - docker tag "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" "quay.io/$HUB_NAMESPACE/$HUB_PROJECT:alpha"
#     - docker login -u "$HUB_REGISTRY_USER" -p "$HUB_REGISTRY_PASSWORD" quay.io
#     - docker push "quay.io/$HUB_NAMESPACE/$HUB_PROJECT:alpha"
#   only:
#     - master
